#app variables
COMPOSE_PROJECT_NAME=ft_transcendence
DOCKERFILE_EXT=prod
DEBUG=False

SQL_DATABASE="my_database"
SQL_USER="my_user"
SQL_PASSWORD="my_password"
SQL_ENGINE="django.db.backends.postgresql"
SQL_HOST="localhost"
SQL_PORT=5432

SECRET_KEY="your-secret-key"
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1] django frontend
DJANGO_TRUSTED_ORIGINS=https://localhost http://frontend:8080 https://frontend:8080
CORS_ALLOW_ALL_ORIGINS=False

OAUTH_CLIENT_ID="your-oauth-client-id"
OAUTH_CLIENT_SECRET="your-oauth-client-secret"
OAUTH_REDIRECT_URI=https://localhost/callback