srcs/.env
services/app/Django/__pycache__/wsgi.cpython-312.pyc
services/app/Django/__pycache__/urls.cpython-312.pyc
services/app/Django/__pycache__/settings.cpython-312.pyc
services/app/Django/__pycache__/__init__.cpython-312.pyc
services/app/core/static