/* Custom CSS */

html {
	height: 100%;
	background: linear-gradient(#132b37, #14a473 60%, #dac64d) no-repeat;
}

body {
	height: 100%;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

main, #about, #profile {
	position: absolute;
	width: 100%;
	transition: left 0.5s ease;
	margin-bottom: 100px;
}

#about {
	left: -100%;
}

#profile {
	left: 100%;
}

.back-circle {
	background: linear-gradient(#94215a, #340c2f 90%) no-repeat;
	border-radius: 0 0 50% 50%;
}

footer {
	width: 100%;
	height: 100px;
	background: linear-gradient(#94215a, #340c2f 90%) no-repeat;
	position: fixed;
	bottom: 0;
	z-index: -1;
}

h1 {
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 180px;
	text-shadow: #94215a 8px 8px 0;
	text-align: center;
	margin-top: 120px;
}

.auto-width-select {
	width: auto;
	min-width: 10px;
}

/* ========= Game ========= */

#game-section .selected, #instructions .selected {
	background-color: #0dcaf0 !important;
}

#game-section .selected .nav-link {
	font-size: 24px !important;
}

#game-section .selected div {
	display: block !important;
}

.corner-back {
	border-bottom-left-radius: 0 !important; 
	border-top-right-radius: 0 !important;
}

.keyboard-icon {
	width: 64px;
	height: 64px;
	border: 4px solid white;
	background-color: lightgray;
	border-radius: 10px;
	margin: 10px auto;
	line-height: 54px;
	font-weight: bold;
}

.bg-alt-blue {
	background-color: #009dbc;
}

/* ========= Profile ========= */

#profile img {
	border-color: orange !important;	
}

#profile #avatar-section-1 img {
	cursor: pointer;
}

#games-history {
	max-height: 150px;
}

#games-history .row {
	border-bottom: 1px solid white;
	padding: 12px 0;
	margin: 0 6px;
	font-style: italic;
}

#games-history .row:last-child {
	border-bottom: 0;
}

#games-history .col {
	margin: 0;
}

#games-history .col.status {
	font-weight: bold;
}

/* ========= Friendlist ========= */

.row-selected {
	background-color: lightblue;
}

#friends .row:last-child {
	margin-bottom: 0;
}

#searchBar .dropdown-menu {
	max-height: 200px;
}

#friends .row:hover, #searchBar .dropdown-menu li:hover {
	background-color: lightgray;
}

#friends .accept-invitation, #friends .decline-invitation {
	cursor: pointer;
}

/* ========= Custom Scrollbar ========= */

/* Custom Scrollbar using CSS */
.custom-scrollbar-css {
	overflow-y: scroll;
}
  
/* scrollbar width */
.custom-scrollbar-css::-webkit-scrollbar {
	width: 10px;
}

/* scrollbar handle */
.custom-scrollbar-css::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background-color: orange;
}

/* ========= Utils ========= */

/* Shadows */

.box-shadow {
	box-shadow: 0px 4px 12px rgb(64, 64, 64);
}

.box-shadow-subtle {
	box-shadow: 0px 4px 12px rgb(128, 128, 128);
}

.box-shadow-inset {
	box-shadow: inset 0px 4px 12px rgb(128, 128, 128);
}

.text-shadow {
	text-shadow: 4px 3px 0px black, 0px 4px 12px rgb(64, 64, 64);
}

/* Orange */

.border-orange {
	border: 3px solid orange;	
}

.bg-orange {
	background-color: orange;
}

.column {
	float: left;
	width: 40%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.language-switcher {
    position: relative;
    display: inline-block;
}

.globe-icon {
    width: 24px;
    cursor: pointer;
}

.flag-options {
    display: none; /* Hidden by default */
    position: absolute;
	background-color: transparent;
    top: 100%;
    left: 0;
    z-index: 1;
}

.flag {
    width: 24px;
    padding: 5px;
    cursor: pointer;
}

.flag:hover {
    background-color: #f1f1f1;
}

#ranking, #playAgain {
    margin: 0 10px;
}

/* ========= Media Queries ========= */

@media (max-width: 575.98px) {
	#instructions .col {
		border: 0 !important;
	}
}